openapi: 3.0.2
info:
  version: 1.1.4233
  title: Kards 1939api.com
  contact:
    url: 'http://github.com/klutzybubbles/kards-json-api'
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
  description: >
    # Introduction

    This is an UNOFFICIAL representation of the kards backend API. Originally intended to help my (KlutzyBubbles)
    development of a personal game tracker. But i figured it would be useful to anyone else looking to make something that hooks into kards.

    This may be a breach of terms of use if used commercially and i take no responsibility for the actions you take using this API. See the links for info
    [Kards Terms of Use](https://www.kards.com/terms-of-use), [Kards Privacy Policy](https://www.kards.com/privacy-policy)

    # Oddities still unknown

    - All requests must be accompanied by a Drift-Api-Key header with any value, I believe it to be the current kards build hash and version number.
    But am unsure to why it also accepts a blank value. Without it any request will fail.

    - Some match or player actions are still unknown as i have to record and analyse the action to observe how it works.
    Match API is the last thing on my list at this point as replaying a match is a whole different project all together.

    - Staging and dev environments are simply unknown as i have not spent enough time with the api to replicate the game in order to test them.

    - Authentication is mainly documented using steam, the only difference is the provider_details in the session post when getting a JWT using xolla
servers:
  - url: 'https://kards.live.1939api.com/'
  - url: 'https://kards.staging.1939api.com/'
  - url: 'https://kards.dev.1939api.com/'
paths:
  /:
    $ref: paths\root.yaml
  /session:
    $ref: paths\session.yaml
components:
  securitySchemes:
    jti_auth:
      type: http
      scheme: jti

